In [14]:
# Data Wrangling, I
#     Perform the following operations using Python on any open source dataset (e.g., data.csv)
#     1. Import all the required Python Libraries.
#     2. Locate an open source data from the web (e.g. https://www.kaggle.com). Provide a
#     cleardescription of the data and its source (i.e., URL of the web site).
#     3. Load the Dataset into pandas data frame.
#     4. Data Preprocessing: check for missing values in the data using pandas insult(),
#     describe()function to get some initial statistics. Provide variable descriptions. Types
#     of variables etc. Check the dimensions of the data frame.
#     5. Data Formatting and Data Normalization: Summarize the types of variables by
#     checking the data types (i.e., character, numeric, integer, factor, and logical) of the
#     variables in the data set. If variables are not in the correct data type, apply proper
#     type conversions.
#     6. Turn categorical variables into quantitative variables in Python.
#     In addition to the codes and outputs, explain every operation that you do in the above steps
#     and explain everything that you do to import/read/scrape the data set. --Don

In [15]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [30]:
df = pd.read_csv('datasets/weatherAUS.csv')
print(df.head(5))
print(df.tail(5))
print("\nDataset information:")
print(df.info())

              Date Location  MinTemp  MaxTemp  Rainfall  Evaporation  \
142188  2017-06-20    Uluru      3.5     21.8       0.0          NaN
142189  2017-06-21    Uluru      2.8     23.4       0.0          NaN
142190  2017-06-22    Uluru      3.6     25.3       0.0          NaN
142191  2017-06-23    Uluru      5.4     26.9       0.0          NaN
142192  2017-06-24    Uluru      7.8     27.0       0.0          NaN

        Sunshine WindGustDir  WindGustSpeed WindDir9am  ... Humidity3pm  \
142188       NaN           E           31.0        ESE  ...        27.0
142189       NaN           E           31.0         SE  ...        24.0
142190       NaN         NNW           22.0         SE  ...        21.0
142191       NaN           N           37.0         SE  ...        24.0
142192       NaN          SE           28.0        SSE  ...        24.0

        Pressure9am  Pressure3pm  Cloud9am  Cloud3pm  Temp9am  Temp3pm  \
142188       1024.7       1021.2       NaN       NaN      9.4     20.9
142189       1024.6       1020.3       NaN       NaN     10.1     22.4
142190       1023.5       1019.1       NaN       NaN     10.9     24.5
142191       1021.0       1016.8       NaN       NaN     12.5     26.1
142192       1019.4       1016.5       3.0       2.0     15.1     26.0

        RainToday  RISK_MM  RainTomorrow
142188         No      0.0            No
142189         No      0.0            No
142190         No      0.0            No
142191         No      0.0            No
142192         No      0.0            No

[5 rows x 24 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  object
 1   Location       142193 non-null  object
 2   MinTemp        141556 non-null  float64
 3   MaxTemp        141871 non-null  float64
 4   Rainfall       140787 non-null  float64
 5   Evaporation    81350 non-null   float64
 6   Sunshine       74377 non-null   float64
 7   WindGustDir    132863 non-null  object
 8   WindGustSpeed  132923 non-null  float64
 9   WindDir9am     132180 non-null  object
 10  WindDir3pm     138415 non-null  object
 11  WindSpeed9am   140845 non-null  float64
 12  WindSpeed3pm   139563 non-null  float64
 13  Humidity9am    140419 non-null  float64
 14  Humidity3pm    138583 non-null  float64
 15  Pressure9am    128179 non-null  float64
 16  Pressure3pm    128212 non-null  float64
 17  Cloud9am       88536 non-null   float64
 18  Cloud3pm       85099 non-null   float64
 19  Temp9am        141289 non-null  float64
 20  Temp3pm        139467 non-null  float64
 21  RainToday      140787 non-null  object
 22  RISK_MM        142193 non-null  float64
 23  RainTomorrow   142193 non-null  object
dtypes: float64(17), object(7)
memory usage: 26.0+ MB
None

In [17]:
print("\nSummary statistics (including object types):")
df.describe(include='all')

Summary statistics (including object types):

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RISK_MM,RainTomorrow
count,142193,142193,141556.000000,141871.000000,140787.000000,81350.000000,74377.000000,132863,132923.000000,132180,...,138583.000000,128179.000000,128212.000000,88536.000000,85099.000000,141289.000000,139467.000000,140787,142193.000000,142193
unique,3436,49,NaN,NaN,NaN,NaN,NaN,16,NaN,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,2
top,2017-06-23,Canberra,NaN,NaN,NaN,NaN,NaN,W,NaN,N,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,No
freq,49,3418,NaN,NaN,NaN,NaN,NaN,9780,NaN,11393,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,109332,NaN,110316
mean,NaN,NaN,12.186400,23.226784,2.349974,5.469824,7.624853,NaN,39.984292,NaN,...,51.482606,1017.653758,1015.258204,4.437189,4.503167,16.987509,21.687235,NaN,2.360682,NaN
std,NaN,NaN,6.403283,7.117618,8.465173,4.188537,3.781525,NaN,13.588801,NaN,...,20.797772,7.105476,7.036677,2.887016,2.720633,6.492838,6.937594,NaN,8.477969,NaN
min,NaN,NaN,-8.500000,-4.800000,0.000000,0.000000,0.000000,NaN,6.000000,NaN,...,0.000000,980.500000,977.100000,0.000000,0.000000,-7.200000,-5.400000,NaN,0.000000,NaN
25%,NaN,NaN,7.600000,17.900000,0.000000,2.600000,4.900000,NaN,31.000000,NaN,...,37.000000,1012.900000,1010.400000,1.000000,2.000000,12.300000,16.600000,NaN,0.000000,NaN
50%,NaN,NaN,12.000000,22.600000,0.000000,4.800000,8.500000,NaN,39.000000,NaN,...,52.000000,1017.600000,1015.200000,5.000000,5.000000,16.700000,21.100000,NaN,0.000000,NaN
75%,NaN,NaN,16.800000,28.200000,0.800000,7.400000,10.600000,NaN,48.000000,NaN,...,66.000000,1022.400000,1020.000000,7.000000,7.000000,21.600000,26.400000,NaN,0.800000,NaN
max,NaN,NaN,33.900000,48.100000,371.000000,145.000000,14.500000,NaN,135.000000,NaN,...,100.000000,1041.000000,1039.600000,9.000000,9.000000,40.200000,46.700000,NaN,371.000000,NaN

In [18]:
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
Date                 0
Location             0
MinTemp            637
MaxTemp            322
Rainfall          1406
Evaporation      60843
Sunshine         67816
WindGustDir       9330
WindGustSpeed     9270
WindDir9am       10013
WindDir3pm        3778
WindSpeed9am      1348
WindSpeed3pm      2630
Humidity9am       1774
Humidity3pm       3610
Pressure9am      14014
Pressure3pm      13981
Cloud9am         53657
Cloud3pm         57094
Temp9am            904
Temp3pm           2726
RainToday         1406
RISK_MM              0
RainTomorrow         0
dtype: int64

In [19]:
print("\nShape of dataset (rows, columns):")
print(df.shape)

Shape of dataset (rows, columns):
(142193, 24)

In [20]:
print("\nOriginal data types:")
print(df.dtypes)

Original data types:
Date              object
Location          object
MinTemp          float64
MaxTemp          float64
Rainfall         float64
Evaporation      float64
Sunshine         float64
WindGustDir       object
WindGustSpeed    float64
WindDir9am        object
WindDir3pm        object
WindSpeed9am     float64
WindSpeed3pm     float64
Humidity9am      float64
Humidity3pm      float64
Pressure9am      float64
Pressure3pm      float64
Cloud9am         float64
Cloud3pm         float64
Temp9am          float64
Temp3pm          float64
RainToday         object
RISK_MM          float64
RainTomorrow      object
dtype: object

In [31]:
# 5.2 Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [22]:
# 5.3 Fill missing categorical values with mode
categorical_cols = df.select_dtypes(include='object').columns
for col in categorical_cols:
    df[col].fillna(df[col].mode()[0], inplace=True)

C:\Users\onkar\AppData\Local\Temp\ipykernel_18012\2549916713.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mode()[0], inplace=True)

In [23]:
# 5.4 Fill missing numeric values with mean
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns
for col in numeric_cols:
    df[col].fillna(df[col].mean(), inplace=True)

C:\Users\onkar\AppData\Local\Temp\ipykernel_18012\3379577393.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].mean(), inplace=True)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 24 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Date           142193 non-null  datetime64[ns]
 1   Location       142193 non-null  object
 2   MinTemp        142193 non-null  float64
 3   MaxTemp        142193 non-null  float64
 4   Rainfall       142193 non-null  float64
 5   Evaporation    142193 non-null  float64
 6   Sunshine       142193 non-null  float64
 7   WindGustDir    142193 non-null  object
 8   WindGustSpeed  142193 non-null  float64
 9   WindDir9am     142193 non-null  object
 10  WindDir3pm     142193 non-null  object
 11  WindSpeed9am   142193 non-null  float64
 12  WindSpeed3pm   142193 non-null  float64
 13  Humidity9am    142193 non-null  float64
 14  Humidity3pm    142193 non-null  float64
 15  Pressure9am    142193 non-null  float64
 16  Pressure3pm    142193 non-null  float64
 17  Cloud9am       142193 non-null  float64
 18  Cloud3pm       142193 non-null  float64
 19  Temp9am        142193 non-null  float64
 20  Temp3pm        142193 non-null  float64
 21  RainToday      142193 non-null  object
 22  RISK_MM        142193 non-null  float64
 23  RainTomorrow   142193 non-null  object
dtypes: datetime64[ns](1), float64(17), object(6)
memory usage: 26.0+ MB

In [25]:
# Step 6: Convert Categorical Variables to Quantitative

# 6.1 Convert 'RainToday' and 'RainTomorrow' to binary
df['RainToday_encoded'] = df['RainToday'].map({'No': 0, 'Yes': 1})
df['RainTomorrow_encoded'] = df['RainTomorrow'].map({'No': 0, 'Yes': 1})

# 6.2 Encode other categorical variables using label encoding
from sklearn.preprocessing import LabelEncoder

label_encoders = {}
for col in categorical_cols:
    if col not in ['RainToday', 'RainTomorrow']:
        le = LabelEncoder()
        df[col] = le.fit_transform(df[col])
        label_encoders[col] = le  # Save encoder if needed later

# Final encoded preview
print("\nSample of encoded data:")
print(df[['RainToday', 'RainToday_encoded', 'RainTomorrow', 'RainTomorrow_encoded']].head())

# Final DataFrame Info
print("\nFinal DataFrame info after cleaning and encoding:")
print(df.info())

Sample of encoded data:
  RainToday  RainToday_encoded RainTomorrow  RainTomorrow_encoded
0        No                  0           No                     0
1        No                  0           No                     0
2        No                  0           No                     0
3        No                  0           No                     0
4        No                  0           No                     0

Final DataFrame info after cleaning and encoding:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 142193 entries, 0 to 142192
Data columns (total 26 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Date                  142193 non-null  datetime64[ns]
 1   Location              142193 non-null  int64
 2   MinTemp               142193 non-null  float64
 3   MaxTemp               142193 non-null  float64
 4   Rainfall              142193 non-null  float64
 5   Evaporation           142193 non-null  float64
 6   Sunshine              142193 non-null  float64
 7   WindGustDir           142193 non-null  int64
 8   WindGustSpeed         142193 non-null  float64
 9   WindDir9am            142193 non-null  int64
 10  WindDir3pm            142193 non-null  int64
 11  WindSpeed9am          142193 non-null  float64
 12  WindSpeed3pm          142193 non-null  float64
 13  Humidity9am           142193 non-null  float64
 14  Humidity3pm           142193 non-null  float64
 15  Pressure9am           142193 non-null  float64
 16  Pressure3pm           142193 non-null  float64
 17  Cloud9am              142193 non-null  float64
 18  Cloud3pm              142193 non-null  float64
 19  Temp9am               142193 non-null  float64
 20  Temp3pm               142193 non-null  float64
 21  RainToday             142193 non-null  object
 22  RISK_MM               142193 non-null  float64
 23  RainTomorrow          142193 non-null  object
 24  RainToday_encoded     142193 non-null  int64
 25  RainTomorrow_encoded  142193 non-null  int64
dtypes: datetime64[ns](1), float64(17), int64(6), object(2)
memory usage: 28.2+ MB
None